<h2>Latest posts:</h2>
<br />
<% @results.each do |post| %>
    <p>
      <%= post['content'] %>
      <br />
      Added at <%= post['created'] %>
      <br />
      <!-- Добавить возможность комментировать пост -->
      <a href="/details/<%= post['id'] %>">Comments</a>
    </p>
    <hr />
<% end %>
